---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {{ page.title }}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

		<hr />
		
        <article>
          {% if page.profile1 -%}
          <div class="profile float-{%- if page.profile1.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile1.image %}
              {%- assign profile_image_path = page.profile1.image | prepend: 'assets/img/' -%}

              {% if page.profile1.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile1.image -%}
            {% endif -%}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ page.profile1.blabla }}
          </div>

        <hr />
		
        </article>
		
		<article>
          {% if page.profile2 -%}
          <div class="profile float-{%- if page.profile2.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile2.image %}
              {%- assign profile_image_path = page.profile2.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile2.image -%}
            {% endif -%}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ page.profile2.blabla }}
          </div>

        </article>
		
		<hr />

</div>
